django/mainHP/.idea
npm/.idea

django/mainHP/venv/
django/mainHP/.coverage
django/mainHP/__pycache__/
django/mainHP/mainHP/__pycache__/
django/mainHP/mainHP/settings/__pycache__/
django/mainHP/main/__pycache__/
django/mainHP/transfacils/__pycache__/

django/static
django/mainHP/static

django/mainHP/.pytest_cache
django/mainHP/.coverage
django/mainHP/mainHP/.pytest_cache
django/mainHP/mainHP/.coverage

django/mainHP/db.sqlite3
django/mainHP/*/migrations/
django/mainHP/.env/production
