docker/django/mainHP/.idea
docker/npm/.idea

docker/django/mainHP/venv/
docker/django/mainHP/.coverage
docker/django/mainHP/__pycache__/
docker/django/mainHP/mainHP/__pycache__/
docker/django/mainHP/mainHP/settings/__pycache__/
docker/django/mainHP/main/__pycache__/
docker/django/mainHP/transfacils/__pycache__/

docker/django/mainHP/static

docker/django/mainHP/.pytest_cache
docker/django/mainHP/.coverage
docker/django/mainHP/mainHP/.pytest_cache
docker/django/mainHP/mainHP/.coverage

docker/django/mainHP/db.sqlite3

docker/django/mainHP/mainHP/settings/development.py
docker/django/mainHP/*/migrations/

docker/npm/node_modules
docker/npm/package-lock.json
